@{
    <br />
    ViewBag.Title = "Tietoa sivuista / About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Tätä kohtaa päivitetään. This is under construction.</p>
<a target="_blank" href="https://www.mikatiihonen.com">Omat kotisivuni</a>

<p>@ViewBag.Herja</p>

<br />

<img style="height: 200px; width:150px; display:block;" src="https://www.mikatiihonen.com/wp-content/uploads/2019/12/mika.jpg;" alt="oma kuva" />
