@{
    ViewBag.Title = "Tietoa sivuista / About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Tätä kohtaa päivitetään. This is under construction.</p>
<a target="_blank" href="https://www.mikatiihonen.com">Omat kotisivuni</a>

<p>@ViewBag.Herja</p>
