@{
    ViewBag.Title = "Yhteystiedot / Contact";
    ViewBag.Keksinto = "Keksin tämän jutun";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Kanneltie 9 a 5<br />
    00420 Helsinki<br />
    <abbr title="Phone">gsm:</abbr>
    044-94432369
</address>
<h5>@ViewBag.Keksinto</h5>
<address>
    <strong>Sähköposti:</strong>   <a href="mailto:koneautomaatio@hotmail.com">koneautomaatio@hotmail.com</a><br />
</address>