
@{
    ViewBag.Title = "Kartta / Map";
}

<h2>Map</h2>

<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1980.2462013689685!2d24.87680981578587!3d60.24284588198776!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x468df634318ca56f%3A0xd1e9d52372fe92f6!2sKanneltie%209%2C%2000420%20Helsinki!5e0!3m2!1sen!2sfi!4v1621403423989!5m2!1sen!2sfi" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>

